<% cat_title = @cat.sex == "M" ? "Mr." : "Ms." %>
<h1><%= cat_title %> <%= @cat.name %></h1>

<table>
    <thead>
        <tr>
            <th colspan="2"> <%= @cat.name %></thead> </th>
        </tr>
    <tbody>
        <tr>
            <td> <strong>Birth date:</strong> </td>
            <td> <%= @cat.birth_date %> </td>
        </tr>
        <tr>
            <td> <strong>Age:</strong> </td>
            <td> <%= @cat.age %> old </td>
        </tr>
        <tr>
            <td> <strong>Color:</strong> </td>
            <td> <%= @cat.color %> </td>
        </tr>
        <tr>
            <td> <strong>Sex:</strong> </td>
            <td> <%= @cat.sex == 'M' ? 'Male' : 'Female' %> </td>
        </tr>
    </tbody>
</table>

<% if @cat.description %>
    <p> <strong>Description:</strong> <%= @cat.description %> </p>
<% end %>

<a href=<%= edit_cat_url(@cat) %>>Edit</a>
<br>
<a href="<%= cats_url %>">Back</a>
